@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

.cd-slider {
	position: relative;
	width: 100%;
	height: 100%;
	height: 100vh;
	background: transparent;
	overflow: hidden;
}
.item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style: none;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.88, 0.01, 0.08, 0.99);
	-moz-transition: -moz-transform 1s cubic-bezier(0.88, 0.01, 0.08, 0.99);
	-o-transition: -o-transform 1s cubic-bezier(0.88, 0.01, 0.08, 0.99);
	transition: transform 1s cubic-bezier(0.88, 0.01, 0.08, 0.99);
}
.card {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 700px;
	width: 100%;
	border-radius: 5px;
	padding: 2%;
	box-shadow: 0 0 65px 2px rgba(0,0,0,.1);
}
.card img, .card .img {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
}
.info {
font-family: 'Noto Sans KR', sans-serif;
	vertical-align: middle;
	display: inline-block;

  margin-left: auto;
  margin-right: auto;

}
.info h1 {

  margin-left: auto;
  margin-right: auto;
	color: #fff;
	font-size: 32px;
	margin-bottom: 3rem;
  margin-top: 3rem;
}
.info p {
	color: #fff;
	font-size: 18px;
	margin-bottom: 40px;
	line-height: normal;

}
.info a {
	display: inline-block;
	float: right;
	text-decoration: none;
	color: #000;
	background: #fff;
	font-size: 1.5rem;
	font-weight: 900;
	padding: 15px 30px;
	border-radius: 30px;
	text-transform: uppercase;
	word-spacing: 5px;
	letter-spacing: 2px;
	-webkit-transition: box-shadow .3s, opacity .6s 1s, -webkit-transform .6s 1s;
	-moz-transition: box-shadow .3s, opacity .6s 1s, -moz-transform .6s 1s;
	-o-transition: box-shadow .3s, opacity .6s 1s, -o-transform .6s 1s;
	transition: box-shadow .3s, opacity .6s 1s, transform .6s 1s;
}
.info a:hover {
	box-shadow: 10px 10px 30px 5px rgba(0,0,0,.1);
}
.prev, .next {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
}
.next {
	right: 5%;
	left: auto;
}
.hide-nav {
	visibility: hidden;
}
/* Transitions
----------------------------------*/
.card img, .card .img, .info > * {
	opacity: 0;
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	-o-transform: translateY(20%);
	transform: translateY(20%);
	-webkit-transition: -webkit-transform .6s 1s, opacity .6s 1s;
	-moz-transition: -moz-transform .6s 1s, opacity .6s 1s;
	-o-transition: -o-transform .6s 1s, opacity .6s 1s;
	transition: transform .6s 1s, opacity .6s 1s;
}
.prev_slide {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.current {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.current .card img, .current .card .img, .current .info > * {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
@media screen and (max-width: 900px) {
	.card { max-width: 70%; }
}
@media screen and (max-width: 800px) {
	.card { text-align: center; }
	.info { padding-left: 0; }
	.info p { display: none; }
	.info a { float: none; }
}
@media screen and (max-width: 650px) {
	.card { padding: 4%; }
	.card img, .card .img { width: 60%; margin-bottom: 5%;}
	.info { width: 100%; }
	.prev { left: 3%; }
	.next { right: 3%; }
}
@media screen and (max-height: 450px) and (orientation: landscape) {
	.card img, .card .img { width: 40%; margin-bottom: 0; }
	.info { width: 59%; padding-left: 5%;}
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.image-card {
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);
  position: relative;
  background-size: cover;
  margin: calc(var(--size) * 20 / 100);
}
.image-card:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  z-index: -1;
  filter: blur(12px);
  opacity: 0.6;
  left: 50%;
  transform: translate(-50%, 10%);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');


#container {
	line-height: 45px;
  color:white;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;
  position:fixed;
  width:100%;
  bottom:40%;
  display:block;
	margin:0px auto;
	text-align: center;
	vertical-align: middle;
}

#flip {
  height:45px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;

	margin-top:10px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 10s linear infinite;
}

#flip div div {
  background:#42c58a;
width: 300px;
}
#flip div:first-child div {
  background:#4ec7f3;
width: 200px;
}
#flip div:last-child div {
  background:#DC143C;
	width: 400px;

}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.portfolio {
	padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
	padding-left: 30px;
	padding-right: 30px;
}

.portfolio h2 {
	font-family: "noto sans kr", sans-serif;
  flex-basis: 100%;
  text-align: center;
  margin: 50px auto 30px;
  text-transform: uppercase;
  font-size: 6vh;
  letter-spacing: 2px;
  color: #111;
}
.imgcard {
	object-fit: fill;
  width: 25%;
  overflow: hidden;
  position: relative;
}
.imgcard .content {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: -100px;
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100px;
  background: #111;
}
.imgcard .image {
  z-index: 1;
  height: 100%;
}
.imgcard img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  transform: scale(1.2);
	object-fit: cover;
}

.imgcard:hover .content {
  bottom: 0px;
  color: #fff;
}

.imgcard:hover .image img {
  transform: scale(1);
}

.imgcard .content span:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.imgcard .content span:last-child {
  font-size: 14px;
  color: #18cfab;
  text-align: center;
  font-weight: 700;
}


@media screen and (max-width: 768px) {
  .imgcard {
  width: 50%;
  }
	.imgcard .content {
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .imgcard {
  width: 100%;
  }
	.imgcard .content {
    bottom: 0;
  }
}
